@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: gainsboro;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  text-align: center;
}

.city-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.city-search {
  font-size: 12px;
  outline: none;
  padding: 12px 16px;
  border-radius: 4px;
  border:1px solid #00000099;
  color: #00000099;
  background: transparent;
}